version: "3.7"

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus
    networks:
      - monitoring

  node_exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    ports:
      - "5110:9100"
    networks:
      - monitoring

  # cadvisor:
  #   image: google/cadvisor:latest
  #   container_name: cadvisor
  #   ports:
  #     - "5080:8080"
  #   privileged: true # Add this line to allow cAdvisor more access
  #   volumes:
  #     - /:/rootfs:ro
  #     - /var/run:/var/run:ro
  #     - /sys:/sys:ro
  #     - /sys/fs/cgroup:/sys/fs/cgroup:ro
  #   networks:
  #     - monitoring

  # kube_state_metrics:
  #   image: quay.io/coreos/kube-state-metrics:v1.9.8
  #   container_name: kube_state_metrics
  #   ports:
  #     - "8081:8081"
  #   volumes:
  #     - ./kubeconfig:/root/.kube/config # Updated to bind mount the kubeconfig file
  #   environment:
  #     - KUBECONFIG=/root/.kube/config # Set the KUBECONFIG environment variable
  #   networks:
  #     - monitoring

volumes:
  prometheus_data:
  grafana_data:

networks:
  monitoring: # Define the monitoring network
    driver: bridge
